<div class="product-section mt-150 mb-150">
  <div class="container">
    <div
      class="row product-lists"
      style="position: relative; height: 1153.35px;"
    >
      <div
        class="col-lg-4 col-md-6 text-center strawberry"
        style="position: absolute; left: 0px; top: 0px;"
      >
        <div class="single-product-item">
          <div class="product-image">
            <a href="single-product.html"
              ><img src="assets/img/products/product-img-1.jpg" alt=""
            /></a>
          </div>
          <h3>Strawberry</h3>
          <p class="product-price"><span>Per Kg</span> 85$</p>
          <a href="cart.html" class="cart-btn"
            ><i class="fas fa-shopping-cart"></i> Add to Cart</a
          >
          <a [routerLink]="['/wishlist']" class="cart-btn"
            ><i class="fas fa-star"></i> Add to wishlist</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
